x64
.vs
.git

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk

.idea/

*.suo
*.user
*.suo
*.userosscache
*.suo
*.userosscache

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/

*.cab
*.msi
*.msm
*.msp

*.lnk

.idea/

*.suo
*.user
*.suo
*.userosscache
*.suo
*.userosscache

mono_crash.*
